doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title User Sign Up
        link(rel='stylesheet', type='text/css', href='style.css')
        script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js')
        script(type='text/javascript', src='signin.js')
    body
        h1 登陆
        #main-area
            h2 用户登陆
            button#signup.button(href='/regist') 注册
            form(method='post')
                p
                    label 用户名:
                    input(name='username', type='text', placeholder='用户名')
                p#username-checker.checker
                p
                    label 密码:
                    input(name='password', type='password', placeholder='密码')
                p#password-checker.checker
            button#submit.button 登陆
            button#reset.button 重置
            p#msg.invalid #{.message}
